/*
 * This file contains the tailwind directives and equivalent styles
 * to replicate the behavior inside the Shadow DOM of native plugins.
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
*/

html,
:host-context(div) {
    line-height: 1.5; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -moz-tab-size: 4; /* 3 */
    tab-size: 4; /* 3 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body,
:host {
    margin: 0; /* 1 */
    line-height: inherit; /* 2 */
}

/**
*/

body,
:host {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card-date {
    /*padding-top: 16px;*/
    /*font-size: 1.2rem;*/
    color: #60b2ff;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    height: 100px;
    text-align: center;
}

.card-sum {
    font-size: 1.1rem;
}

.card-length {
    color: #60b2ff;
}

.card-red {
    color: #ff6060;
}

.card-green {
    color: #7ff87f;
}

.card-orange {
    color: #ffbf60;
}

.color-again {
    background-color: #cc04fd;
}

.card-red-bg, .color-red {
    background: #ff6060;
    color: black;
    text-align: center;
}

.card-green-bg, .color-green {
    background: #7ff87f;
    color: black;
    text-align: center;
}

.card-orange-bg, .color-orange {
    background: #ffbf60;
    color: black;
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.indicator {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    position: relative;
}

.card-indicator-info {
    color: black;
    position: absolute;
    top: 0;
    left: 0;
}

.card-container:hover .card-popup,
.card-container:focus .card-popup {
    display: initial;
    /*position: relative;*/
}

.card-popup {
    position: absolute;
    top: 6px;
    right: 0;
    display: none;
    z-index: 1;
    border-radius: 8px;
    padding: 10px;
    background-color: black;
}
.score-item {
    position: relative;
}
.score-item:hover .score-hover-infos,
.score-item:focus .score-hover-infos {
    display: block;
}
.score-hover-infos {
    font-size: 0.8rem;
    line-height: 0.9rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    position: absolute;
    top: -55px;
    left: 0;
    z-index: 1;
    display: none;
    width: 220px;
}

html {
    overflow: scroll !important;
    /*height: 100%;*/
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #d3d3d3;
}
.score-square {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    margin: 4px;
}
