body {
    display: flex;
    align-items: flex-end;
}
html,
:host-context(div) {
    background: transparent !important;
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body,
:host {
    background: transparent !important;
}

.card-popup {
    background-color: transparent !important;
}
